* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color:bisque;
  text-decoration: none;
}

.App {
  background: linear-gradient(4.62deg, #016081 -21.78%, #17161B 105.14%);
}