* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  a:hover {
    color:bisque;
    text-decoration: none;
  }
  
  .App {
    background: #E5E5E5;
  }
  
  .getStarted {
    font-family: 'Poppins';
    font-size: 2.5em;
    text-align:center;
    font-weight:bold;
  }
  
  .getStarted {
    font-family: 'Poppins';
    font-size: 2.5em;
    text-align:center;
    font-weight:bold;
  }
  
  #getStartedImg {
    width: 7em;
    height: auto;
    transition: all 0.5s ease;
    transform: scale(1);
  }
  
  #getStartedImg:hover {
    transform: scale(1.05) perspective(1px)
  }